# ‚¨áÔ∏è Imaport Libraries

In [1]:
import pandas as pd

# Read üìñ Datasets üóÉÔ∏è of JD.com

### Reading JD_order_data.csv üìÅ table from dataset

In [2]:
df_order =  pd.read_csv('JD_order_data.csv')

* Simple üïµÔ∏èüïµÔ∏è‚Äç‚ôÄÔ∏è Quality & Descriptive Analysis on the table

In [3]:
df_order.head()

,order_ID,user_ID,sku_ID,order_date,order_time,quantity,type,promise,original_unit_price,final_unit_price,direct_discount_per_unit,quantity_discount_per_unit,bundle_discount_per_unit,coupon_discount_per_unit,gift_item,dc_ori,dc_des
0,d0cf5cc6db,0abe9ef2ce,581d5b54c1,2018-03-01,2018-03-01 17:14:25.0,1,2,-,89.0,79.0,0.0,10.0,0.0,0.0,0,4,28
1,7444318d01,33a9e56257,067b673f2b,2018-03-01,2018-03-01 11:10:40.0,1,1,2,99.9,53.9,5.0,41.0,0.0,0.0,0,28,28
2,f973b01694,4ea3cf408f,623d0a582a,2018-03-01,2018-03-01 09:13:26.0,1,1,2,78.0,58.5,19.5,0.0,0.0,0.0,0,28,28
3,8c1cec8d4b,b87cb736cb,fc5289b139,2018-03-01,2018-03-01 21:29:50.0,1,1,2,61.0,35.0,0.0,26.0,0.0,0.0,0,4,28
4,d43a33c38a,4829223b6f,623d0a582a,2018-03-01,2018-03-01 19:13:37.0,1,1,1,78.0,53.0,19.0,0.0,0.0,6.0,0,3,16

In [4]:
df_order.dtypes

order_ID                       object
user_ID                        object
sku_ID                         object
order_date                     object
order_time                     object
quantity                        int64
type                            int64
promise                        object
original_unit_price           float64
final_unit_price              float64
direct_discount_per_unit      float64
quantity_discount_per_unit    float64
bundle_discount_per_unit      float64
coupon_discount_per_unit      float64
gift_item                       int64
dc_ori                          int64
dc_des                          int64
dtype: object

In [5]:
df_order.describe()

,quantity,type,original_unit_price,final_unit_price,direct_discount_per_unit,quantity_discount_per_unit,bundle_discount_per_unit,coupon_discount_per_unit,gift_item,dc_ori,dc_des
count,549989.000000,549989.000000,549989.000000,549989.000000,549989.000000,549989.000000,549989.000000,549989.000000,549989.000000,549989.000000,549989.000000
mean,1.216670,1.499139,102.813542,71.572599,19.845889,7.843390,0.625649,2.926015,0.172014,12.062714,21.679845
std,1.844589,0.500000,95.035563,75.879057,33.593536,17.994354,6.442281,11.588338,0.377393,14.201200,16.973899
min,1.000000,1.000000,0.000000,-32.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,1.000000,1.000000,59.000000,33.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,5.000000
50%,1.000000,1.000000,79.000000,58.000000,4.000000,0.000000,0.000000,0.000000,0.000000,7.000000,20.000000
75%,1.000000,2.000000,139.000000,95.000000,21.000000,0.000000,0.000000,0.000000,0.000000,10.000000,34.000000
max,400.000000,2.000000,12158.000000,12158.000000,720.000000,225.000000,252.000000,210.000000,1.000000,67.000000,67.000000

In [6]:
df_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549989 entries, 0 to 549988
Data columns (total 17 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   order_ID                    549989 non-null  object
 1   user_ID                     549989 non-null  object
 2   sku_ID                      549989 non-null  object
 3   order_date                  549989 non-null  object
 4   order_time                  549989 non-null  object
 5   quantity                    549989 non-null  int64
 6   type                        549989 non-null  int64
 7   promise                     549989 non-null  object
 8   original_unit_price         549989 non-null  float64
 9   final_unit_price            549989 non-null  float64
 10  direct_discount_per_unit    549989 non-null  float64
 11  quantity_discount_per_unit  549989 non-null  float64
 12  bundle_discount_per_unit    549989 non-null  float64
 13  coupon_discount_per_unit    549989 non-null  float64
 14  gift_item                   549989 non-null  int64
 15  dc_ori                      549989 non-null  int64
 16  dc_des                      549989 non-null  int64
dtypes: float64(6), int64(5), object(6)
memory usage: 71.3+ MB